{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}

{% include "navbar.html.twig" %}
   
    <div class="main">

        {% include "__categoriesSidebox.html.twig" with {'categoryList': categoryList} %} 


        <div class="articles" style="grid-row:1 ;">

            <h1 class="m-4">{{ productByCategory[0].category.title }}:</h1>
            <hr>

            <div class="articles">
                {% include "__articlesList.html.twig" with {'productList': productByCategory} %} 
            </div>
        </div>

    </div>

{% endblock %}
